.candidatebox{

}

.resolution{

}
#page-blocks-sgelection-results .winnerresolution{
    background-color: #aaffaa;
}

.hiddenCandidateWarningBox{
    display: none;
}

#page-blocks-sgelection-admin .yui3-aclist-content .yui3-aclist-list{
    color: #461d7c;
}
